<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

style 
    include ../css/style.css
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                </button>
                <a href="/"><div class="navbar-brand">Logo</div></a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                
                
            </div>
        </div>
    </div>
    <h1 class="text-center">About Us</h1>
    <div class="container">

        <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam recusandae provident temporibus unde est atque, nam ad doloribus nisi corrupti aperiam fugiat illum, qui quam eligendi quibusdam, mollitia harum. Itaque amet provident eaque? Veniam quam dolore officia itaque harum fuga quasi sit, deserunt perferendis blanditiis voluptate ipsum, odio iste quod sed laudantium quaerat eos eveniet numquam! Nobis ea sequi cumque! Dolore accusamus illo ipsum beatae hic nisi error magnam in quasi reprehenderit tempora nostrum illum dolor rerum dolorum, quibusdam odio repellendus earum adipisci ab obcaecati. Veniam hic mollitia non vitae iste ad nulla delectus, libero error at expedita officiis totam rerum, laboriosam aliquid enim explicabo quidem voluptatum accusamus ut cumque praesentium eveniet vero sapiente? Dolores sequi minima ab voluptatibus veritatis ea ducimus, laboriosam placeat amet obcaecati similique voluptatum officia corporis harum atque nostrum rerum laborum consequuntur quisquam! Optio corporis et nemo ipsam aspernatur earum rerum facilis. Explicabo nesciunt fuga, ducimus vel totam sint minus, possimus dolorem reprehenderit numquam maiores fugiat eaque adipisci facilis sed eius modi tempora accusantium eum quasi iure, iste harum eveniet. Consectetur cupiditate nisi vitae aspernatur accusamus soluta quos et? Exercitationem, totam nulla labore neque dolorem nisi laborum atque recusandae reiciendis ad incidunt rerum blanditiis soluta quasi, deserunt similique culpa sapiente voluptates itaque iure rem aperiam! Quod quia nobis quam perferendis excepturi ducimus neque iusto nisi cum reprehenderit quasi ratione dignissimos temporibus, recusandae veritatis qui harum. Consectetur placeat assumenda minus, totam odit, corrupti illo eveniet adipisci voluptatem a quis animi quia hic voluptas atque possimus reiciendis cupiditate sunt aliquam unde. Fuga cum reiciendis facere, quam, voluptatibus soluta maiores ratione unde, aspernatur eaque distinctio placeat blanditiis incidunt dignissimos explicabo dolorem alias cupiditate aliquam accusantium harum assumenda autem. Nisi eligendi error consequuntur ullam quia quod modi illum delectus aspernatur dolor officia laboriosam vero dignissimos suscipit ad, fugiat dolore ipsa.</p>
    </div>
    <footer class="text-center " style="margin-top: 30px;">
        <p>CopyWrite @ 2023 Concert</p>
    </footer>
</body>

</html>