<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

style 
    include ../css/style.css
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                    <div class="icon-bar"></div>
                </button>
                <a href="/"><div class="navbar-brand">Logo</div></a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/project">Project</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                
                
            </div>
        </div>
    </div>
    <h1 class="text-center">Our Project </h1>
    <div class="container-fluid text-center">
        <h3>What We Do</h3>
        <div class="row">
            <div class="col-sm-3">
                <img src="https://www.w3schools.com/bootstrap/la.jpg" style="width:100%" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-sm-3">
                <img src="https://www.w3schools.com/bootstrap/ny.jpg" style="width:100%" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-sm-3">
                <img src="https://www.w3schools.com/bootstrap/chicago.jpg" style="width:100%" alt="">
                <p>Lorem ipsum dolor sit</p>
            </div>
            <div class="col-sm-3">
                <div class="well">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, accusamus.</p>
                </div>
                <div class="well">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, accusamus.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center" style="margin-top: 30px;">
        <p>CopyWrite @ 2023 Concert</p>
    </footer>
</body>

</html>